<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyC5OVHEOV5fXr_P9--33LsCykfRE0I1o6g</string>
	<key>GCM_SENDER_ID</key>
	<string>322415995757</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.easypg</string>
	<key>PROJECT_ID</key>
	<string>easy-pg-2a0d6</string>
	<key>STORAGE_BUCKET</key>
	<string>easy-pg-2a0d6.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:322415995757:ios:1b8a30d563d65ea5e48864</string>
</dict>
</plist>